@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка 500</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Ошибка 500. Ошибка сервера</h2>
</body>
</html>
