<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.2.0" targetFramework="net472" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net472" />
  <package id="Effort" version="2.2.8" targetFramework="net472" />
  <package id="Effort.EF6" version="2.2.8" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.OData" version="5.7.0" targetFramework="net472" />
  <package id="Microsoft.Azure.Mobile.Server" version="2.0.3" targetFramework="net472" />
  <package id="Microsoft.Azure.Mobile.Server.Entity" version="2.0.3" targetFramework="net472" />
  <package id="Microsoft.Azure.Mobile.Server.Tables" version="2.0.3" targetFramework="net472" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net472" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net472" />
  <package id="Moq" version="4.13.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="NMemory" version="3.1.1" targetFramework="net472" />
  <package id="NUnit" version="3.12.0" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="3.16.1" targetFramework="net472" developmentDependency="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net472" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net472" />
</packages>