@model DIMS.Server.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

@using (Html.BeginForm("Login", "Account",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required", type = "email", placeholder = "Email address" } })
    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", required = "required", type = "password", placeholder = "Password" } })
    <input type="submit" value="Sign in" class="btn btn-lg btn-primary btn-block" />
    @Html.ActionLink("Register", "Register", null, new { @class = "btn btn-lg btn-secondary btn-block" })

}