@using HIMS.Server.Controllers
@{
    ViewBag.Title = "Success Registration";
}

<h2>Congratulations on successful registration! Please, use your email and password for login.</h2>

<p>
    @Html.ActionLink("Login", "Login", "Account")
</p>

