@{
    ViewBag.Title = "Success Registration";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<main role="main" class="inner cover">
    <h1 class="cover-heading">@ViewBag.Message</h1>
    <p class="lead">
        <a href="Login" class="btn btn-lg btn-secondary">Go to login page</a>
    </p>
</main>

