
@{
    ViewBag.Title = "Index";
}
<div style="text-align: center; margin-top: 8rem;">
    <h1>Welcome to the DevIncubator Management System!</h1>
    <img src="~/images/logo.png" alt="Sample Photo" />
    @Html.ActionLink("Login", "Login", "Account")
</div>
