@model DIMS.Server.Models.MainPageViewModel
@{
    ViewBag.Title = "DIMS System";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}
        <main role="main" class="inner cover">
            <h1 class="cover-heading">@Model.CoverHead</h1>
            <p class="lead">
                @foreach (var actionLink in Model.ActionLinks)
                {
                    @Html.ActionLink(actionLink.ButtonText, actionLink.ActionName, actionLink.ControllerName, new { id = actionLink.LinkId }, new { @class = "btn btn-lg btn-block btn-" + actionLink.ButtonType })
                }
            </p>
        </main>