/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    background-color: #fff;
    border: .05rem solid #fff;
}

html,
body {
    height: 100%;
    background: url(Images/background.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

body {
    display: flex;
    color: #fff;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 42em;
}

.cover {
    padding: 1.5rem;
    margin-top: 10rem;
    border-radius: 25px;
    background: rgba(40, 52, 81, 0.80)
}

    .cover .btn-lg {
        padding: .75rem 1.25rem;
        font-weight: 700;
    }


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border-radius: 5px;
}

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: 5px;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
    }

.form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border-radius: 5px;
}

.form-group{
    text-align: left;
}