/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 480px;
}

.control-label {
    text-align: left !important;
}

.container {
    width: auto;
    max-width: 80%;
    padding: 0 15px;
}

.footer {
    background-color: #bdbdbd;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.modal-footer {
    display: block;
}

@media (min-width: 768px) {
    .col-md-10 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.btn-group > .btn, .btn-group-vertical > .btn {
    flex: 0;
}
