<connectionStrings>
	<add name="DIMSDBConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DIMSDB;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	<!--<add name="DIMSIdentityConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DIMSIdentity;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
	<add name="DIMSIdentityConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DIMSIdentity;Integrated Security=False; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>
